{% extends "base.html" %}

{% block title %}Flasky - Page Not Found{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="mycarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                    <img src="{{ url_for('static', filename='banana.jpeg') }}" alt="" class="img-responsive">
                    <div class="carousel-caption">
                        <div class="alert alert-info">
                            <strong>Opps 404 - Page Not Found</strong>
                            <p>Our code monkeys may have slipped up.</p>
                            <p>We tried, but we couldn't find the page you were looking for.</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
